@import '../../styles/center-mixin.scss';

.modalOverlay {
    z-index: 100;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    @include center-block;
}

.modalBox {
    display: block;
    background: white;
    width: 50%;
    height: 80%;
    padding: 24px 64px 24px 64px;
    border-radius: 16px;
    position: fixed;
    min-width: 600px;
}

.modalContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 24px;
    height: 100%;
}
  
.modalDescriptionContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 400px;
    gap: 8px;
}
  
.modalImage {
    width: 220px;
    height: 220px;
}

.modalPizzaName {
    font-size: 24px;
    font-weight: 700;
}

.modalPizzaSize {
    font-size: 14px;
    font-weight: 400;
}

.modalPizzaIngredients {
    font-size: 16px;
    font-weight: 400;
}

.modalAddToppingsText {
    font-size: 24px;
    font-weight: 500;
}

.modalToppingsContainer {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 8px;
    overflow-y: auto;
    flex: 1;
    padding: 8px;
}

.modalToppingsContainer::-webkit-scrollbar {
    width: 8px;
}

.modalToppingsContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.modalToppingsContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.modalToppingsContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}
