@use 'sass:math';

$orange: #F4511E;

.container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    gap: 32px;
    row-gap: 48px;
    margin-top: 116px;
    margin-bottom: 48px;

    @media (max-width: 1000px) {
        grid-template-columns: repeat(2, 300px);
    }

    @media (max-width: 700px) {
        grid-template-columns: repeat(1, 300px);
    }
}

.spinner {
    animation: rotator 1.4s linear infinite;
  }
  
  @keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }
  
  .path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
      dash 1.4s ease-in-out infinite, 
      colors 5.6s ease-in-out infinite;
  }
  
  @keyframes colors {
    0% {
      stroke: $orange;
    }
    100% {
      stroke: $orange;
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 187;
      transform: rotate(0deg);
    }
    50% {
      stroke-dashoffset: 46.75; /* 187/4 */
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 187;
      transform: rotate(450deg);
    }
  }