@import '../styles/center-mixin.scss';

.container {
    @include column-block;
    max-width: 1000px;
}

.title {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    display: grid;
}

.title span {
    font-size: 14px;
    color: #637083;
}