@import '../styles/center-mixin.scss';
@import '../styles/form-mixin.scss';

.container {
    @include column-block;
    margin-bottom: 24px;
}

.title {
    @include title;
}

.formGroup {
    @include form-group;
    max-width: 500px;
}

.formGroup label {
    @include form-group-label;
}

.formGroup input {
    @include form-group-input;
}

.formGroup input.errorInput {
    border-color: red;
}

.errorText {
    color: red;
    font-size: 12px;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    max-width: 500px;
    justify-content: space-between;
    gap: 24px;
}
