@import '../styles/center-mixin.scss';

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 484px;
}

.imageContainer {
    @include center-block;
}

.cardImage {
    width: 220px;
    height: 220px;
}

.cardTitle, .cardPrice {
    font-size: 20px;
    font-weight: 600;
}

.cardDescription {
    padding-top: 8px;
    font-size: 16px;
    font-weight: 400;
}

.cardContainer > Button {
    align-self: flex-end;
}

.cardDescriptionContainer {
    display: flex;
    flex-direction: column;
}

.cardPrice {
    padding-bottom: 24px;
}
